In [ ]:
# importando biblioteca
import pandas as pd

In [ ]:
# capturamos a url de interesse e aplicamos ',' para os numeros decimais e '.' para numeros em milhares
# sem esse parametro os numeros seriam exibidos sem separadores 
url = 'https://pt.wikipedia.org/wiki/Salvador'
site = pd.read_html(url, decimal=',', thousands='.')

In [ ]:
# vamos filtrar o indice de interesse, neste indice contem a tabela que desejamos
site[4]

         Dados climatológicos para Salvador (Ondina)  \
                                                 Mês
0                    Temperatura máxima recorde (°C)
1                      Temperatura máxima média (°C)
2                  Temperatura média compensada (°C)
3                      Temperatura mínima média (°C)
4                    Temperatura mínima recorde (°C)
5                                  Precipitação (mm)
6                     Dias com precipitação (≥ 1 mm)
7                    Umidade relativa compensada (%)
8                                       Horas de sol
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Jan
0                                               34.3
1                                                 31
2                                               26.9
3                                               23.8
4                                               19.8
5                                               76.9
6                                                  9
7                                               78.7
8                                              234.8
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Fev
0                                               34.7
1                                               31.1
2                                               27.1
3                                                 24
4                                               19.5
5                                               98.7
6                                                  9
7                                               79.4
8                                              208.2
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Mar
0                                                 37
1                                               30.9
2                                               27.1
3                                               24.1
4                                               18.7
5                                              147.3
6                                                 11
7                                               80.6
8                                              225.5
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Abr
0                                               34.5
1                                               29.6
2                                               26.4
3                                               23.6
4                                               18.7
5                                              284.9
6                                                 16
7                                               83.3
8                                              185.4
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Mai
0                                               31.6
1                                               28.1
2                                               25.3
3                                               22.8
4                                                 18
5                                              302.2
6                                                 18
7                                               85.1
8                                              156.7
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Jun
0                                               30.6
1                                               27.1
2                                               24.3
3                                               21.9
4                                               18.2
5                                              237.6
6                                                 19
7                                               84.9
8                                              144.6
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Jul
0                                               30.7
1                                               26.6
2                                               23.7
3                                               21.1
4                                               17.5
5                                              194.1
6                                                 18
7                                               83.4
8                                              169.6
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Ago
0                                               31.3
1                                               26.7
2                                               23.6
3                                                 21
4                                               17.7
5                                              129.7
6                                                 16
7                                               82.1
8                                              190.4
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Set
0                                               30.7
1                                               27.7
2                                               24.3
3                                               21.5
4                                               17.6
5                                               99.3
6                                                 11
7                                               81.2
8                                              205.3
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Out
0                                               33.5
1                                               29.1
2                                               25.4
3                                               22.5
4                                               18.3
5                                                 91
6                                                  8
7                                                 80
8                                              226.6
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Nov
0                                               33.5
1                                               29.8
2                                               26.1
3                                               23.1
4                                               18.9
5                                              108.2
6                                                  8
7                                               80.4
8                                              202.9
9  Fonte: Instituto Nacional de Meteorologia (INM...

                                                      \
                                                 Dez
0                                               34.3
1                                               30.6
2                                               26.6
3                                               23.5
4                                               19.8
5                                               63.4
6                                                  7
7                                               79.3
8                                              222.8
9  Fonte: Instituto Nacional de Meteorologia (INM...


                                                 Ano
0                                                 37
1                                                 29
2                                               25.6
3                                               22.7
4                                               17.5
5                                            1 833,3
6                                                150
7                                               81.5
8                                            2 372,8
9  Fonte: Instituto Nacional de Meteorologia (INM...

In [ ]:
# vamos atribuir a uma variavel que vamos chamar de 'salvador'
salvador = site[4]

In [ ]:
# vamos conhecer os indices para aplicarmos uma condição
print(salvador.columns[0][1])
print(salvador.columns[1][1])
print(salvador.columns[2][1])

Mês
Jan
Fev

In [ ]:
# começamos criando uma lista vazia que vamos chamar de 'cols'
# para cada 'i' item em um range que compreende o 'len' tamanho de salvador.columns
# pegue cada 'i' item e acrescente em cols conforme (salvador.columns[i][1])
cols = []
for i in range(len(salvador.columns)):
  cols.append(salvador.columns[i][1])
cols[0] = 'Medidas'

In [ ]:
# atribuimos a salvador.columns o resultado de cols 
salvador.columns = cols

In [ ]:
# excluimos a linha de indice 9
salvador.drop(9, inplace=True)

In [ ]:
# verificando
salvador

,Medidas,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Ano
0,Temperatura máxima recorde (°C),34.3,34.7,37,34.5,31.6,30.6,30.7,31.3,30.7,33.5,33.5,34.3,37
1,Temperatura máxima média (°C),31,31.1,30.9,29.6,28.1,27.1,26.6,26.7,27.7,29.1,29.8,30.6,29
2,Temperatura média compensada (°C),26.9,27.1,27.1,26.4,25.3,24.3,23.7,23.6,24.3,25.4,26.1,26.6,25.6
3,Temperatura mínima média (°C),23.8,24,24.1,23.6,22.8,21.9,21.1,21,21.5,22.5,23.1,23.5,22.7
4,Temperatura mínima recorde (°C),19.8,19.5,18.7,18.7,18,18.2,17.5,17.7,17.6,18.3,18.9,19.8,17.5
5,Precipitação (mm),76.9,98.7,147.3,284.9,302.2,237.6,194.1,129.7,99.3,91,108.2,63.4,"1 833,3"
6,Dias com precipitação (≥ 1 mm),9,9,11,16,18,19,18,16,11,8,8,7,150
7,Umidade relativa compensada (%),78.7,79.4,80.6,83.3,85.1,84.9,83.4,82.1,81.2,80,80.4,79.3,81.5
8,Horas de sol,234.8,208.2,225.5,185.4,156.7,144.6,169.6,190.4,205.3,226.6,202.9,222.8,"2 372,8"

In [ ]:
# vamos atribuir 'Medidas' como indice
salvador.index = salvador['Medidas']

In [ ]:
# agora temos 'Medidas' duas vezes em nosso dataframe, vamos remove um
salvador.drop('Medidas', axis=1, inplace=True)

In [ ]:
# verificando
salvador

,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Ano
Medidas,,,,,,,,,,,,,
Temperatura máxima recorde (°C),34.3,34.7,37,34.5,31.6,30.6,30.7,31.3,30.7,33.5,33.5,34.3,37
Temperatura máxima média (°C),31,31.1,30.9,29.6,28.1,27.1,26.6,26.7,27.7,29.1,29.8,30.6,29
Temperatura média compensada (°C),26.9,27.1,27.1,26.4,25.3,24.3,23.7,23.6,24.3,25.4,26.1,26.6,25.6
Temperatura mínima média (°C),23.8,24,24.1,23.6,22.8,21.9,21.1,21,21.5,22.5,23.1,23.5,22.7
Temperatura mínima recorde (°C),19.8,19.5,18.7,18.7,18,18.2,17.5,17.7,17.6,18.3,18.9,19.8,17.5
Precipitação (mm),76.9,98.7,147.3,284.9,302.2,237.6,194.1,129.7,99.3,91,108.2,63.4,"1 833,3"
Dias com precipitação (≥ 1 mm),9,9,11,16,18,19,18,16,11,8,8,7,150
Umidade relativa compensada (%),78.7,79.4,80.6,83.3,85.1,84.9,83.4,82.1,81.2,80,80.4,79.3,81.5
Horas de sol,234.8,208.2,225.5,185.4,156.7,144.6,169.6,190.4,205.3,226.6,202.9,222.8,"2 372,8"

In [ ]:
# vamos excluir a ultima coluna 'Ano'
salvador.drop('Ano', axis=1, inplace=True)

In [ ]:
# verificando
salvador

,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez
Medidas,,,,,,,,,,,,
Temperatura máxima recorde (°C),34.3,34.7,37,34.5,31.6,30.6,30.7,31.3,30.7,33.5,33.5,34.3
Temperatura máxima média (°C),31,31.1,30.9,29.6,28.1,27.1,26.6,26.7,27.7,29.1,29.8,30.6
Temperatura média compensada (°C),26.9,27.1,27.1,26.4,25.3,24.3,23.7,23.6,24.3,25.4,26.1,26.6
Temperatura mínima média (°C),23.8,24,24.1,23.6,22.8,21.9,21.1,21,21.5,22.5,23.1,23.5
Temperatura mínima recorde (°C),19.8,19.5,18.7,18.7,18,18.2,17.5,17.7,17.6,18.3,18.9,19.8
Precipitação (mm),76.9,98.7,147.3,284.9,302.2,237.6,194.1,129.7,99.3,91,108.2,63.4
Dias com precipitação (≥ 1 mm),9,9,11,16,18,19,18,16,11,8,8,7
Umidade relativa compensada (%),78.7,79.4,80.6,83.3,85.1,84.9,83.4,82.1,81.2,80,80.4,79.3
Horas de sol,234.8,208.2,225.5,185.4,156.7,144.6,169.6,190.4,205.3,226.6,202.9,222.8

In [ ]:
# vamos alterar os nomes das colunas
salvador.rename(
    columns={'Jan':'Janeiro', 'Fev':'Fevereiro', 'Mar':'Março', 'Abr':'Abril', 'Mai':'Maio', 'Jun':'Junho',
             'Jul':'Julho', 'Ago':'Agosto', 'Set':'Setembro', 'Out':'Outubro', 'Nov':'Novembro', 'Dez':'Dezembro'},
             inplace=True
)

In [ ]:
# verificando
salvador

,Janeiro,Fevereiro,Março,Abril,Maio,Junho,Julho,Agosto,Setembro,Outubro,Novembro,Dezembro
Medidas,,,,,,,,,,,,
Temperatura máxima recorde (°C),34.3,34.7,37,34.5,31.6,30.6,30.7,31.3,30.7,33.5,33.5,34.3
Temperatura máxima média (°C),31,31.1,30.9,29.6,28.1,27.1,26.6,26.7,27.7,29.1,29.8,30.6
Temperatura média compensada (°C),26.9,27.1,27.1,26.4,25.3,24.3,23.7,23.6,24.3,25.4,26.1,26.6
Temperatura mínima média (°C),23.8,24,24.1,23.6,22.8,21.9,21.1,21,21.5,22.5,23.1,23.5
Temperatura mínima recorde (°C),19.8,19.5,18.7,18.7,18,18.2,17.5,17.7,17.6,18.3,18.9,19.8
Precipitação (mm),76.9,98.7,147.3,284.9,302.2,237.6,194.1,129.7,99.3,91,108.2,63.4
Dias com precipitação (≥ 1 mm),9,9,11,16,18,19,18,16,11,8,8,7
Umidade relativa compensada (%),78.7,79.4,80.6,83.3,85.1,84.9,83.4,82.1,81.2,80,80.4,79.3
Horas de sol,234.8,208.2,225.5,185.4,156.7,144.6,169.6,190.4,205.3,226.6,202.9,222.8